<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>752629431125-f7ld6o9q1f9fm9gitccg56fm2p4u144l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.752629431125-f7ld6o9q1f9fm9gitccg56fm2p4u144l</string>
	<key>API_KEY</key>
	<string>AIzaSyC1oYOBadv1-kRSBzt9WBrtw7j66dtrGmI</string>
	<key>GCM_SENDER_ID</key>
	<string>752629431125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.lucas.firebaseProj</string>
	<key>PROJECT_ID</key>
	<string>fir-proj-87656</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-proj-87656.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:752629431125:ios:5ec99b1e76607bf70e8ddc</string>
</dict>
</plist>